<!DOCTYPE html>
<html class="{{ htmlClass }}" lang="{{ site.lang }}">
  <head>
    {% include "head.njk" %}
  </head>
  <body class="{{ bodyClass }}">
    <img id="rock-lobster" src="https://res.cloudinary.com/tonipanoche/image/upload/v1595076616/memscape94/lobster.gif" alt="rock lobster gif">
    <img id="light-brite" src="https://res.cloudinary.com/tonipanoche/image/upload/v1595080445/memscape94/lightbrite.gif" alt="light brite gif">
    <img id="daisy-clock" src="https://res.cloudinary.com/tonipanoche/image/upload/v1595080442/memscape94/daisyclock.gif" alt="daisy clock gif">
    <div class="credits">
      <p>Concept & Design: <br>Kelly Diepenbrock</p>
      <p>Sound Design: <br>Oli Holyoake</p>
      <p>Website Development: <br>Toni Panacek</p>
    </div>
    <div class="grid-container">
      <div id="video-area">
        <video id="video" src=""></video>
      </div>
      <div id="kelly-room"></div>
      <div id="parents-room"></div>
      <div id="jamies-room"></div>
      <div id="hallway"></div>
      <div id="living-room"></div>
      <div id="bathroom"></div>
      <div id="slide-room"></div>
      <div id="kitchen"></div>
    </div>
  </body>
</html>
