$blue: darkslateblue;
$bg-body: antiquewhite;

html,
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: $bg-body;
  background-image: url('../images/ms94_landingpage.png');
  background-size: cover;
  position: relative;
  height: 100vh;
  overflow: hidden;
}


.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(20, 1fr);
}

#video-area {
  grid-area: 5 / 2 / 10 / 8;
  display: none;
  video {
    width: 100%;
    height: 100%;
    border: 3px solid black;
    object-fit: fill;
    z-index: 10;
  }
}

#kelly-room {
  grid-area: 4 / 12 / 6 / 14;
  z-index: 50;
}
#parents-room {
  grid-area: 4 / 8 / 5 / 10;
  z-index: 50;
}
#jamies-room {
  grid-area: 5 / 9 / 7 / 11;
  z-index: 50;
}
#hallway {
  grid-area: 7 / 15 / 11 / 15;
  z-index: 50;
}
#living-room {
  grid-area: 5 / 14 / 7 / 16;
  z-index: 50;
}
#bathroom {
  grid-area: 7 / 12 / 9 / 14 ;
  z-index: 50;
}
#slide-room {
  grid-area: 7 / 17 / 10 / 19 ;
  z-index: 50;
}
#kitchen {
  grid-area: 4 / 17 / 7 / 19;
  z-index: 50;
}

#instructions {
  z-index: -10;
  height: 250px;
  position: absolute;
  top: 0;
  right: 6%;
}

#rock-lobster {
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
}

#daisy-clock {
  width: 250px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
}

#light-brite {
  width: 250px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}

.credits-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 200px;
  &:hover {
    .credits {
      display: block;
    }
  }
  .credits {
    display: none;
    background: white;
    border: 3px solid black;
    width: 25ch;
    word-wrap: break-word;
    padding: 5px;
    position: absolute;
    bottom: 40%;
    left: 80%;
    font-size: .85rem;
  }
}
